# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# ML models

*.h5
*.pt
*.pth

# Datasets
*.csv
*.xlsx
*.json

# Node
node_modules/
dist/
.next/

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db